h1{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

canvas{
    background-color: #f0f0f0;
    display: block;
    margin: 0 auto;
}

button{
    display: inline-block;
    margin: auto;
    padding: auto;
    font-size: 20px;
    cursor: pointer;
    background-color: #5b6ecc;
    color: white;
}